<!-- About -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="bg-white page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <center><div class="container">
    <div class="elementor-widget-container wow animate__animated animate__zoomIn">

              <ul class="rewe-vertrieb" style="list-style-type:none; list-style-position: outside;">
                <center><h2>Vertriebs<wbr>partner</h2></center>
                <br>
                <hr width="50%">
                <br>
                <center><img class="img-fluid" width="40%" src="assets/img/rewe.png" alt=""></center>
                <br><br>
    							<li class="elementor-icon-list-item">
    											<a href="https://www.rewe.de/marktseite/augsburg/461642/rewe-markt-jakoberwallstrasse-9-11/" target="_blank">

    										<span class="elementor-icon-list-text">REWE Gesell | Jakoberwallstraße 9-11, 86153 Augsburg&nbsp;| Work Export &nbsp; &nbsp;</span>
    											</a>
    									</li>
    								<li class="elementor-icon-list-item">
    											<a href="https://www.rewe.de/marktseite/augsburg/562341/rewe-markt-buergermeister-fischer-strasse-11/" target="_blank">

    										<span class="elementor-icon-list-text">REWE Rietzschel l Bürgermeister-Fischer-Straße 11, 86150 Augsburg | Work Export</span>
    											</a>
    									</li>

                      <br>
                      <hr width="50%">
                      <br>

                      <li class="elementor-icon-list-item">
                              <a href="http://www.getraenkeinsel-augsburg.de/impressum.html" target="_blank">
                            <span class="elementor-icon-list-text">Getränke Insel&nbsp;Augsburg | Bürgermeister-Aurnhammer-Straße 15, 86199 Augsburg | Work Export</span>
                              </a>
                          </li>
                        <li class="elementor-icon-list-item">
                              <a href="https://www.facebook.com/getraenkegutmann/" target="_blank">

                            <span class="elementor-icon-list-text">Getränke Gutmann | Am Anger 4, 86444 Affing / OT Mühlhausen |&nbsp;Work Export</span>
                              </a>
                          </li>
                        <li class="elementor-icon-list-item">
                              <a href="https://www.verdurst.net/" target="_blank">

                            <span class="elementor-icon-list-text">Getränke Fritzi&nbsp;| Hermann-Köhl-Straße 21, 86159 Augsburg |&nbsp;Work Export (Auf Bestellung)</span>
                              </a>
                          </li>
                          <br>
                          <hr width="50%">
    						</ul>
    				</div>
  </div>
  </center>
</section>
{% endif %}
<!-- End About -->
