<!-- Contact -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="bg-white page-section" id="{{ site.data.sitetext[site.locale].contact.section | default: "contact" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Kontakt</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].contact.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form action="https://formsubmit.co/183ae3e652fff77c8a6988ad470cf06c" method="POST">
          <input type="hidden" name="_subject" value="Neue Kontaktanfrage!">
          <input type="hidden" name="_captcha" value="false">
          <input type="text" name="_honey" style="display:none">
          <!--name="sentMessage"-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input name="Vorname" class="form-control" id="vorname" type="text"
                  placeholder="Vorname*"
                  required="required">
              </div>

            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input name="Name" class="form-control" id="name" type="text"
                  placeholder="Name*"
                  required="required">
              </div>

              </div>
              <div class="col-lg-12 text-center">
                <div class="form-group">
                  <input name="Email" class="form-control" id="email" type="email"
                    placeholder="E-Mail-Adresse*"
                    required="required">
                </div>
              <div class="form-group">
                <textarea rows="8" name="message" class="form-control" id="message"
                  placeholder="Nachricht*"
                  required="required"></textarea>
              </div>
            </div>
            <div class="col-lg-12 text-center">
            <input type="checkbox" id="pp" name="Datenschutzbedingungen" value="DSGVO" required>
            <label for="pp" style="font-size: 13pt">Hiermit stimme ich der <a href="/datenschutzerklaerung" class="text-decoration-none">Datenschutzerklärung</a> zu.</label>
            </div>
            <div class="col-lg-12 text-center">
              <button class="btn btn-outline-primary"
                type="submit">{{ site.data.sitetext[site.locale].contact.submit | default: "Send Message" }}</button>
                <input type="hidden" name="_next" value="https://goldene-gans.de/danke">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endif %}
<!-- End Contact -->
