<!-- Services -->
{% if site.locale and site.locale != "" and site.locale != nil %}
  <section class="page-section" id="{{ site.data.sitetext[site.locale].services.section | default: "services" }}">
    <div class="container">
      <center><img class="wow animate__animated animate__zoomIn" width="60%" src="assets/img/work-3000-pix.png" alt=""></center>
      <br>
      <center><img class="img-fluid wow animate__animated animate__rotateInUpLeft" src="assets/img/Work-Seite-17.07.19.png" alt=""></center>
  </div>
</section>
{% endif %}
<!-- End Services -->
