<!-- Services -->
{% if site.locale and site.locale != "" and site.locale != nil %}
  <section class="bg-white page-section" id="{{ site.data.sitetext[site.locale].services.section | default: "services" }}">
    <div class="desktop-container">
      <center><img width="50%" class="wow animate__animated animate__zoomIn" src="assets/img/work-3000-pix.png" alt=""></center>
      <br>
      <center><img width="75%" loading="lazy" class="img-fluid wow animate__animated animate__rotateInUpLeft" src="assets/img/Work-Seite-17.07.19.png" alt=""></center>
  </div>
  <div class="mobile-container">
    <center><img class="wow animate__animated animate__zoomIn" width="90%" src="assets/img/work-3000-pix.png" alt=""></center>
    <br>
    <center><span class="mobile-text">Ein mildes, helles Exportbier mit 5,2% Vol. in der 0,5l Flasche</span></center>
    <br>
    <br>
    <center><img loading="lazy" width="230px" height="300px" class="img-fluid wow animate__animated animate__rotateInUpLeft" src="assets/img/Bilder-fuer-Handy-final-b.png" alt=""></center>
    <br>
    <center><img loading="lazy" width="230px" height="300px" class="img-fluid wow animate__animated animate__rotateInUpLeft" src="assets/img/Blechschild-klein-768x995.png" alt=""></center>
  </div>
</section>
{% endif %}
<!-- End Services -->
