<!-- About -->
{% if site.locale and site.locale != "" and site.locale != nil %}
  <section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].timeline.section | default: "about" }}">
    <div class="desktop-container">
      <center><img width="40%" class="wow animate__animated animate__zoomIn" src="assets/img/Button-CRAFT-Neu-2022-3.png" alt=""></center>
      <br>
      <center><img width="75%" loading="lazy" class="img-fluid wow animate__animated animate__rotateInUpRight" src="assets/img/Craft-neue-Flasche-vorlaeufig-2022.png" alt=""></center>
  </div>
  <div class="mobile-container">
    <center><img class="wow animate__animated animate__zoomIn" width="90%" src="assets/img/Button-CRAFT-Neu-2022-3.png" alt=""></center>
    <br>
    <center><span class="mobile-text">Ein hopfenbetontes, spritziges Lagerbier mit 4,9% Vol. in der 0,33l Flasche</span></center>
    <br>
    <br>
    <center><img loading="lazy" width="230px" height="300px" class="img-fluid wow animate__animated animate__rotateInUpRight" src="assets/img/Bilder-fuer-Handy-final.png" alt=""></center>
    <br>
    <center><img loading="lazy" width="230px" height="300px" class="img-fluid wow animate__animated animate__rotateInUpRight" src="assets/img/Craft-Etikett-3-pq2rj4vsxdbztytxi4z9kcfk0tlf1vnl1untoaoyrk.png" alt=""></center>
  </div>
</section>
{% endif %}
<!-- End About -->
