// Styling for the portfolio section
#gans {
  position: absolute;
  -webkit-animation: ease-in-out infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 15s;
}
@-webkit-keyframes run {
  0% {
    right: 0;
  }
  48% {
    -webkit-transform: rotateY(0deg);
  }
  50% {
    right: calc(100% - 200px);
    -webkit-transform: rotateY(180deg);
  }
  98% {
    -webkit-transform: rotateY(180deg);
  }
  100% {
    right: 0;
     -webkit-transform: rotateY(0deg);
  }
}

#my-store-99867029 {
max-width: 70vw !important;
margin-left: auto !important;
margin-right: auto !important;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 3; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 90%; 
  display: flex;
  align-items: center;
  img {
    margin-top: 3%;
    width: 50%;
    max-width: 1000px;
  }
  @media (max-width: 750px) {
    margin: 30% auto; 
    img {
      margin-top: 3%;
      width: 90%;
    }
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
